.details-content {
  background-color: #e3fae6;
  padding: 12px;
  border-radius: 8px;
  margin-top: 8px;
}

.flip {
  display: block;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  object-fit: contain;
}